@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

:root {
  --dark: #1e151c;
  --light: #59382C;
  --accent: #db8c94;
  --white: #FFECDA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
  background: var(--white);
  background-image: linear-gradient(var(--light), var(--accent),  var(--white));
  color: var(--dark);
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-attachment: fixed; 
}

.app {
  background: var(--white);
  border: 2px solid var(--dark);
  width: 520px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
h1 {
  font-family: 'Sonsie One', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.6rem;
  letter-spacing: 2px;
  color: var(--dark);
  padding: 1.2rem 0 0.3rem;
  border-top: 12px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  background-color: var(--accent);
}

/* FORM */
.add-form {
  padding: 1rem;
  border-bottom: 2px solid var(--dark);
  text-align: center;
  background-color: var(--white);
}

.add-form h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: var(--dark);
}

.add-form div {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

.add-form select,
.add-form input {
  border: 1px solid var(--dark);
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  background: var(--white);
  color: var(--dark);
}

.add-form button {
  background-color: var(--dark);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

.add-form button:hover {
    background-color: var(--accent);
    color: var(--dark);
    transform: scale(1.05);
}

/* LIST */
.list {
  flex: 1;
  border: 2px solid var(--dark);
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.list ul {
  list-style: none;
  width: 100%;
}

.list li {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0;
  color: var(--dark);
}

.list input[type='checkbox'] {
  margin-right: 0.6rem;
  accent-color: var(--dark);
}

.list li button {
  background: none;
  border: none;
  color: var(--dark);
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: auto;
}

/* ACTIONS */
.actions {
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  text-align: center;
  padding: 1rem;
  background-color: var(--white);
}

.actions select {
  border: 1px solid var(--dark);
  background: var(--white);
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
  color: var(--dark);
}

.actions button {
    background-color: var(--accent);
    color: var(--dark);
    border: 1px solid var(--dark);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.3rem;
}

/* FOOTER */
.stats {
  flex: 0;
  border-top: 2px solid var(--dark);
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: var(--dark);
  text-align: left;
  background-color: var(--accent);
  border-bottom: 10px solid var(--dark);
}
